#tabel-buah {
    border-collapse: separate;
}

.link {
    color: blueviolet;
    text-decoration: underline;
}

.wrapper {
    background: fuchsia;
}

.container {
    width: 1200px;
    margin: auto;
}

.sidebar {
    width: 400px;
    height: 600px;
    background: red;
    float: left;
}

.content {
    width: 790px;
    height: 600px;
    padding-left: 10px;
    background: blueviolet;
    float: right;
}